<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.tvojsajt.digitron"
    versionCode = "10"
    version     = "1.0.0" >
    android-packageName = "Digitron"
    android-activityName = "Digitron"


  <name>Digitron</name>

  <description>
      Simple calculator
  </description>

  <author href="https://github.com/pilgrim011/" email="zoranstanic011@gmail.com">
      Zoran Stanić
  </author>

</widget>